<div class = "mapBackground">
<nav>
        
                <a class="navLink" href="#home">Home</a>
                <a class="active"><strong> Map</strong></a>
                
</nav>
<img id="otherPageLogo"src="../images/landmark-logo.png" alt="NO IMAGE TO LOAD">
<div id="mapPage">
        <div id="locationMap">
         </div>
        <section id="resultList" ng-repeat='location in locationData | limitTo: 8' ng-click='savePlace(location)' ng-init="addMarker(location.geometry.location)">
                <!-- <img id="locationIcon" src = '{{location.icon}}'/> -->
                <p><strong>{{location.name}}</strong></p>
                <p>{{location.formatted_phone_number}}</p>
                <p>{{location.formatted_address}}</p>
                <hr />
       
        </section>
        <p id="clearList"></p>

</div>

<div ng-if='error'>Error getting information</div>
</div>