<!-- <h1>Map View</h1> -->
<div id="mapPage">
        <div id="locationMap">
        <img src="{{mapUrl}}">
        </div>

        <section id="resultList" ng-repeat = 'location in locationData | limitTo: 8' ng-click='selectPlace(location)'>
                <img id="locationIcon" src = '{{location.icon}}'/>
                <p id="resultFormatting">{{location.name}} {{location.formatted_phone_number}}</p>
                <p id="resultFormatting">{{location.formatted_address}}</p>
                <!-- <p>{{location.opening_hours.open_now}}</p> -->
                <!-- <p>{{location.weekday_text}}</p> -->
                <hr />
        </section>

        <p id="clearList"></p>

</div>

<div ng-if='error'>Error getting information</div>
