body{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-image:url("images/test101.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    }

#paragraphMainPage{
    background-color:#C2C8E4;
    width: 445px;
    margin:0 auto;
    font-size:18px;
    font-style:sans-serif;
}
#navBar{
    text-align: center;
    }
#navLink{
    text-decoration: none;
    color: black;
    font-size: 24px;
    padding-right: 10px;
} 
#navLink:hover{
    color: blue;
}
#homePageLogo
{
    height: 200px;
}
#locationButton{
 font-size: 24px;
 border-radius: 10px;
}

p{
    margin: 0;
    }
#mapPage{
    margin: auto;
    padding-left: 7.5%;
    padding-right:7.5%;
}
#otherPageLogo{
    height:75px;
}
#locationMap{
    float:left;
    padding-right:7.5%;
    }
#resultList{
    font-size: 16px;
    height: 65px;
    margin: auto;
    text-align: left;
    }
#resultFormatting{
    background-color:#C2C8E4;
    /* width: 750px; */
}
#locationIcon{
    float:left;
    margin: 0;
    padding: 0;
    height:50px;
    width:auto;
    }