body{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.generalWallpaper{
    background-image:url("images/backgroundMK2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    /* The overflow property specifies what happens if content overflows an element's box. */
    overflow: auto;
}
.radialSelection{
    text-align: left;
    width: 15%;
    margin: auto;
    background-color: #DDEDFA;
    box-shadow: -10px 10px 10px #DDEDFA;
    display: inline-block;
    opacity: 0.6;
}
#paragraphMainPage{
    width: 445px;
    margin:0 auto;
    font-size:18px;
    font-style:sans-serif;
}
.active{
    text-align: center;
    color:#149186;
    font-size: 26px;
    padding-right: 10px;
    
} 
.active:hover{
    color: blue;
}   
.navLink{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 24px;
    padding-right: 10px;
} 
.navLink:hover{
    color: blue;
}
#homePageLogo
{
    height: 175px;
}
.locationButton{
 font-size: 24pt;
 border-radius: 10px;
 background-color: #F26522;
 padding: 10px 17px;
 border-style: none;
 margin: 10px;
}
.locationButton:Hover{
    font-size: 24pt;
    border-radius: 10px;
    background-color: #FF5000;
    padding: 10px 17px;
    border: solid 4px #3A3A3C;
    margin: 10px;
    padding: 6px 13px;
    cursor: pointer;
}
.mapBackground{
    background-image:url("images/mapPage(2).png");
    background-size: 110%;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
    
}

 #addressInput {
    width: 500px;
    border-radius: 5px;
    font-size: 24pt;
    text-align: left;
    border: solid 3px #F26522;
    padding: 2px;
 }
p{
    margin: 0;
    }
#mapPage{
    margin: auto;
    padding-left: 2.5%;
    padding-right:7.5%;
}
#otherPageLogo{
    height:75px;
    align-content: center;
}
#locationMap{
    float:left;
    padding-right:15%;
    height: 500px;
    width: 450px;
    border-radius: 7px;
    border: 1px solid silver;
    margin-right: 40px;
    box-shadow: 0 0 10px 1px grey;
    }
#resultList{
    font-size: 16px;
    height: 63px;
    margin: 0;
    text-align: left;
    }
section {
    font-family: sans-serif;
}
section#resultList {
    margin:auto;
    cursor: pointer;

}
section#resultList:Hover {
    cursor: pointer;
    background: -webkit-linear-gradient(left, transparent 54%, #F26522 54%, #F26522 55%, transparent 55% );
    background: -o-linear-gradient(left, transparent 54%, #F26522 54%, #F26522 55%, transparent 55% );
    background: -moz-linear-gradient(left, transparent 54%, #F26522 54%, #F26522 55%, transparent 55% );
    background: linear-gradient(left, transparent 54%, #F26522 54%, #F26522 55%, transparent 55% );
    margin: auto;
}
hr{
    margin: 0;
}
.blue {
    color: #0079BF;
}
.green {
    color: #34A853;
}
.right {
    margin-left: 20px;
}
#locationIcon{
    float:left;
    margin: 0;
    padding: 0;
    height:50px;
    width:auto;
    font-size: 16px;
    height: 63px;
    text-align: left;
}
.directionsPage{
    align-content: center;
    width: 70%;
    background-color: #DDEDFA;
    padding: 5px;
}
.directionList{
    float:right;
    width: 50%;
    font-size: 20px;
    text-align: left;
    background-color: #ACC7DF;
    padding: 15px;
    margin: auto;
    margin-right: 75px;
    box-shadow: 0 0 10px 1px grey;
    }
.placeImageSpan{
    float:left;
    padding-left: 75px;
    margin: auto;
    margin-right: 75px;
    
}
.placeImage{
    box-shadow: 5px 5px 10px 0px grey;
}
.POIChosen{
    float:right;
    width: 50%;
    font-size: 20px;
    text-align: left;
    color:white;
    background-color:#0079BF;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    margin-right: 75px;
    box-shadow: 0 0 10px 1px grey;
    }
@media screen and (max-width: 899px) and (min-width: 641px){
    a.navLink{
        font-size: 24px;
        text-align: center;
        padding-right: 10px;
    }
    a.active{
        font-size: 24px;
        text-align: center;
        padding-right: 10px;
        color:#149186;
    }
    .generalWallpaper{
        background-image:url("images/backgroundMK2.jpg"); 
        background-size: 175% auto;
    }
    img#homePageLogo {
        width:300px;
        height:100px;
      }
    button.locationButton{
        font-size: 16px;
    }
    form.radialSelection{
        font-size: 16px;
        width: 30%;
        text-align: left;
    }
    input#addressInput{
        font-size: 16px;
        width: 300px;
    }
    .locationButton:Hover{
        font-size: 16px;
        border-radius: 5px;
        background-color: #FF5000;
        margin: 10px;
    }

    div.mapBackground{
        background-image:url("images/mapPage(2).png");
        background-size: 175% auto;
    }
    img#otherPageLogo {
        width:300px;
        height:100px;
    }
    div#locationMap{
        width:300px;
        height:300px;
        margin-left: 125px;
    }
    section#resultList{
          clear: left;
          font-size: 16px;
    }

}

@media (max-width: 640px){
    a.navLink{
        font-size: 22px;
        text-align: center;
        padding-right: 10px;
    }
    a.active{
        font-size: 22px;
        text-align: center;
        padding-right: 10px;
        color:#149186;
    }
    .generalWallpaper{
        background: #DDEDFA;
        background-image:none;
    }
    img#homePageLogo{
        width:200px;
        height:60px;
    }
    button.locationButton{
        font-size: 5vw;
    }
    form.radialSelection{
        font-size: 4vw;
        width: 40%;
        text-align: left;
        margin: 5px;
        box-shadow:  0 0 0;
    }
    input#addressInput{
        font-size: 5vw;
        width: 90%;
    }
    .locationButton:Hover{
        font-size: 5vw;
        border-radius: 5px;
        background-color: #FF5000;
        margin: 10px;}

    div.mapBackground{
        background: #DDEDFA;
        background-image:none;
    }
    img#otherPageLogo {
        width:200px;
        height:60px;
      }
      div#locationMap{
        width:200px;
        height:200px;
        margin: 20px 9px;
        width: 80%;
      }
      section#resultList{
        clear: left;
        font-size: 12px;
        border-left: solid 7px #DDEDFA;
        padding-left: 3px;
        height: auto;
        margin-bottom: 10px;
      }
      section#resultList:hover{
        border-left: solid 7px #F26522;
        background: none;
        padding-left: 3px;
        margin-bottom: 10px;
    }
    hr{
        display: none;
    }
    .placeImageSpan{
        padding: 0;
        margin: 10px auto;
    }
    .placeImage{
        width: 90%;
        height: auto;
    }
    .directionList{
        width: 90%;
        padding: 10px;
        margin: 0 10px;
        }
    .POIChosen{
        width: 90%;
        padding: 10px;
        margin: 0 10px;
    }
}



/* @media (max-width: 600px){
    
} */


