<!-- <h1>Landmark Application Homepage.</h1> -->


<p>
    <img id="homePageLogo" src="images/landmark-logo.png" alt="">
    <section>
      <form>

      
          <input ng-model ="aquarium" type="radio" name="type" value="aquarium" checked="checked"> Aquariums
          <br />
          <input ng-model ="museum" type="radio" name="type" value="museum"> Museums
          <br />
          <input ng-model ="art_gallery" type="radio" name="type" value="art_gallery"> Art Galleries
          <br />
          <input ng-model ="library" type="radio" name="type" value="libraries"> Libraries
          <br />
          <input ng-model ="zoo" type="radio" name="type" value="zoo"> Zoos


    </form>

       <p id = "paragraphMainPage">
            <b>Please enter the desired location. </b>
        </p>
        <p id = "paragraphMainPage">
            <b>Or, click 'Show my location' to use your current location.</b>
        </p>
      <br></br>
        <input ng-model="input" type="text" name="Address" placeholder="Find Landmarks near this Address"
        style="width:500px;font-size:24pt;text-align:center;">

    </section>
    <br>
    <button id="locationButton" ng-click="getGeoLocation()">
          Show my location
    </button>
</p>
