<!-- <h1>Landmark Application Homepage.</h1> -->

<p>        
    <img id="homePageLogo" src="images/landmark-logo.png" alt="">
    <section>
         <p id = "paragraphMainPage">
            <b>Please enter the desired location. </b>
        </p>
        <p id = "paragraphMainPage">
            <b>Or, click 'Use current location'</b>
        </p>
        <br><br>
        <input ng-model="input" type="text" name="Address" placeholder="Find Landmarks near this Address" 
        style="width:500px;font-size:24pt;text-align:center;">
    </section>
    <br>
    <button id="locationButton" ng-click="getGeoLocation()">
          Use my location
    </button>
</p>
