<div class="mapBackground">

<nav>
        <a class="navLink" href="#home">Home</a>
        <a class="navLink" ng-click="goBack()">Map</a>
        <a class="active"><strong>Directions</strong></a>
</nav>
    <!-- <h1>Where would you like to visit first?</h1> -->
<img id="otherPageLogo"src="../images/landmark-logo.png" alt="NO IMAGE TO LOAD">
<br>
  <h2>{{name}}</h2>

  <h3>Starting point: {{start}}</h3>
  <h3>Destination: {{end}}</h3>
  <img class="placeImage" src="{{photo}}">

<div class="directionList">
<section ng-repeat='location in locationDirections'>
  <p ng-bind-html="location.html_instructions"></p>
  <p class="right"> <span class="blue">{{location.distance.text}} </span>
  <span class="green"> ({{location.duration.text}})</span></p>
  <br>
</section>
</div>
</div>
