<div class="mapBackground">

<nav>
        <a class="navLink" href="#home">Home</a>
        <a class="navLink" ng-click="goBack()">Map</a>
        <a class="active"><strong>Directions</strong></a>
</nav>
<img id="otherPageLogo"src="../images/landmark-logo.png" alt="NO IMAGE TO LOAD">
<br>
<span class="placeImageSpan">
  <img class = "placeImage"  src="{{photo}}">
</span>
<span class = "POIChosen">
  <h2>{{name}}</h2>
  <h3>Starting point: {{start}}</h3>
  <h3>Destination: {{end}}</h3>
</span> 
 
<div class="directionList">
<section ng-repeat='location in locationDirections'>
  <p ng-bind-html="location.html_instructions"></p>
  <p class="right"> <span class="blue">{{location.distance.text}} </span>
  <span class="green"> ({{location.duration.text}})</span></p>
  <br>
</section>
</div>
</div>
